extends layout

block content
   h1 Motorista: #{motorista.mot_nome}
  
    
   
   p #[strong CPF:] #{motorista.mot_cpf}
   p #[strong Data Nascimento:] #{motorista.mot_dtnascimento}
   p #[strong Sexo:] #{motorista.mot_sexo}
   p #[strong Carro:] #{motorista.mot_carro}
   p #[strong Ativo?] #{motorista.mot_status}